@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --clr-dark: #1a1a19;
  --clr-light: #fdfaf6;
  --clr-primary: #99bc85;
  --clr-secondary: #e4efe7b3;
  --clr-accent: #464646; 

  --bg-clr: var(--clr-light);
  --text-primary-clr: var(--clr-dark);
  --text-secondary-clr: var(--clr-accent);
  --text-white-clr: var(--clr-light);
  --sidebar-bg-clr: rgba(228, 239, 231, 0.4);
  --sidebar-nav-hover-clr: rgba(228, 239, 231, 0.7);
  --modal-bg-clr: var(--clr-light);

  --project-list-name-hover: rgba(228, 239, 231, 0.7);
  
  --modal-box-shadow: 0 4px 6px -2px rgba(10, 13, 18, 0.03), 0 2px 2px -1px rgba(10, 13, 18, 0.04), 0 12px 16px -4px rgba(10, 13, 18, 0.08);

  --modal-border: solid 1px #e9eaeb;
  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-clr);
  color: var(--text-primary-clr);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

p, li, a {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
}

/* a {
  color: var(--clr-primary);
}  */

li {
  list-style: none;
  cursor: pointer;
}

.add__project-btn {
  display: flex;
  gap: 0.5rem;
}

.main__container {
  display: flex;
}

.hidden {
  display: none;
}

.btn {
  padding: 0.375rem 2rem;
  border-radius: 0.25rem;
}

.cancel__btn {
  background-color: var(--clr-light);
  color: var(--text-primary-clr);
  border: solid 1px #d5d7da;
}

.add__btn {
  background-color: var(--clr-primary);
  color: var(--text-white-clr);
}